@{
    Layout = "/Shared/Layout.cshtml";
    string _expression = Request["expression"];
    string _pholder = "Enter your expression";
    int _result = 0;
    if(IsPost)
    {
        _pholder = _expression;
        Client _my_client = new Client(_pholder);
        _result = _my_client.Result;
    }
}   
    
    <div id = "content">
        <img src = "/Images/calc_img.png" alt = "Calculator Project" id = "calcimg" />
        @PageForm.Form(_pholder, _result, IsPost)
    </div>
        <div id = "_valid_var_area">

        </div>   