@{
    Layout = "/Shared/Layout.cshtml";
    string _expression = Request["expression"];
    string _error_msg = "";
    bool _has_errors;
    int _result = 0;
    ExpressionValidator validator = new ExpressionValidator(_expression);
    _has_errors = validator.validation(ref _error_msg);
    if(IsPost && !_has_errors)
    {
        AbstractFactory _factory = new BasicFactory();
        Stack<Command> _postfix = new Stack<Command>();
        new InfixToPostfix(_factory, _postfix, _expression);
        Evaluator _evaluator = new Evaluator(_postfix);
        _result = _evaluator.calculate();
    }
}   
    
    <div id = "content">
        <img src = "/Images/calc_img.png" alt = "Calculator Project" id = "calcimg" />
        @if (_has_errors)
        {
            @_error_msg
        }
        @ExpressionInput.Form(_expression, _result, _has_errors)
    </div>
