@helper Form(string user_input, int result, bool post) {
    string _response_string = "";
    string _type_chooser = "placeholder";
    string _set_value = "Please enter expression.";
    if(IsPost)
    {
        _response_string = string.Format("{0} = {1}", user_input, Convert.ToString(result));
        _type_chooser = "value";
        _set_value  = user_input;
    }
    
    <form id = "expression_input" method = "post" action = "">
        <input = "text"
            autofocus = "autofocus"
            size = "75"
            id = "expression"
            name = "expression"
            autocomplete = "off"
            @_type_chooser = "@_set_value" 
            />
        <br />
        <div id = "variable_area">
            @_response_string
        </div>
        
        <br />
        <input type = "submit"
            id = "submit_button"
            value ="Submit your expression!"
        />        
    </form>  

}
